<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/read this">You Should Read This</a></li>  
<li><a href="/Selected_Notes_from_the_Field">(Selected) Notes from the Field</a></li>
<li><a href="/take action">Take Action</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/teaching">Teaching</a></li>  
<li><a href="/blog">Random Musings</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://github.com/elizabethjuhasz">github.com/elizabethjuhasz</a></li>
   </ul>
  </footer>
  </body>

</html>
